@import '~bootstrap';


body {
    background-color: lightgray;
}

.w-logo-small {
    width: 80px;
}

.bg-image-electrical {
    background-image: url('../image/background-image.jpg');
    background-position: center;
}

.bg-pages {
    background-image: url('../image/bg_pages.jpg');
    background-position: center;
}

.bg-electrician {
    background-image: url('../image/Electricians-Prospect.jpg');
    background-position: center;
}

.bg-compliance {
    background-image: url('../image/code_compliance.jpg');
    background-position: center;
}

.bg-electricity {
    background-image: url('../image/maintenance.jpg');
    background-position: center;
}

.vertical-line {
    border-left: 6px solid green;
    height: 500px;
}

.bg-gray {
    background-color: rgba(255, 254, 254, 0.69);
}

.fas {
    font-size: 80px;
}

.my-50 {
    margin: 50vh 0;
}
