<div class="mt-5 bg-dark pt-5">

    <div class="row w-75 mx-auto text-white">

        <div class="col m-1">
            <h3 class="text-primary">Stapleton Electric</h3>

            <p>
                <span class="fw-bold">Address:</span> <br>
                8254 Amberwood Place <br>
                Burnaby, British Columbia <br>
                V5A 3V2 <br> <br>

                Call (778) 985-9395
            </p>
        </div>

        <div class="col m-1">
            <ul>
                <li>Electrical upgrades</li>
                <li>Lighting</li>
                <li>EV Charging</li>
                <li>Emergency Preparedness</li>
                <li>Safety and Repairs</li>
                <li>General</li>
            </ul>
        </div>

        <div class="col m-1">
            <a href="">Follow Us!</a>
        </div>

    </div>

    <div class="row pt-3 bg-dark mt-4">
        <p class="text-center text-white-50">
            ©2021 <span class="fw-bold">Awet Dev</span> - All Rights Reserved | Website by <a class="text-white-50 fw-bold text-decoration-none" href="#">Awet.com</a>
        </p>
    </div>

</div>