<form action="{{ path('email') }}" method="post">
    <div class="row py-1">
        <div class="col">
            <input name="name" type="text" class="form-control" placeholder="Name" aria-label="Name">
        </div>
        <div class="col">
            <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
        </div>
    </div>

    <div class="input-group my-1">
        <textarea name="message" class="form-control" placeholder="Message" aria-label="With textarea"></textarea>
    </div>

    <div class="d-grid gap-2 py-1">
        <button class="btn btn-primary" type="submit">Send</button>
    </div>
</form>