<form action="">

    <div class="">

        <div class="row py-1">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>

        <div class="row py-1">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="col">
                <input type="tel" class="form-control" placeholder="Phone" aria-label="Phone">
            </div>
        </div>

        <div class="input-group my-1">
            <textarea class="form-control" placeholder="Message" aria-label="With textarea"></textarea>
        </div>
        <div class="d-grid gap-2 py-1">
            <button class="btn btn-primary" type="button">Button</button>
        </div>

    </div>
</form>