<img class="mb-4" src="{{ asset('image/logosImages.png') }}" alt="">
<p class="text-center"><span class="fw-bolder">Stapleton Electric provides residential wiring upgrades, landscape lighting services and code compliance inspections throughout the Lower Mainland including</span>: Vancouver, Burnaby, New Westminster, Langley, Surrey, Delta, Whistler, Coquitlam, Port Coquitlam, Port Moody, West Vancouver, North Vancouver.</p>
</div>