<ul>
    <li>Residential wiring upgrades</li>
    <li>new installations</li>
    <li>lighting upgrades</li>
    <li>Ceiling fans</li>
    <li>Light switches</li>
    <li>Doorbell wiring</li>
    <li>Home security</li>
    <li>Automation</li>
    <li>Modernization – contemporary home lighting upgrades</li>
    <li>Office / work space wiring and upgrades</li>
</ul>