<div class="py-5 bg-light">
    <div class="row w-75 mx-auto my-4">
        <div class="col">
            <p> Boa badge Best of 2020 – winner 1 times
                Home Wiring Upgrade
                10/10
            </p>

            <p>Our 80-year-old East Van bungalow had a mish-mash of wiring: some original, s...
                Gordon G.
                Mar 18, 2021
                Living room rewiring, pot lights, doorbell...
                10/10
            </p>

            <p>
                Great workers, great job! Would have them back to our place for additional w...
                Mcandless
                Apr 29, 2020
                Friendly, efficient, and great ideas to li...
                10/10
            </p>

            <p>
                Crystal was so helpful in the planning stages - she sent lots of photos of po...
                Kelly in Richmond
                Nov 30, 2019
                Install pot lights
                10/10
            </p>

            <p>
                Troubleshoot and repair of lighting system - Stapleton Electric was amazing. ...
                Numinus H.
                Oct 31, 2019
            </p>

            <div class="row w-75 mx-auto">
                <a class="col d-block btn btn-info m-1" href="">Read more review</a>
                <a class="col d-block btn btn-info m-1" href="">Write review</a>
            </div>
        </div>

        <div class="col card" style="width: 18rem;">
            <img src="{{ asset('image/carousel.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Please leave us a Google Review</h5>
                <p class="card-text">We have made it super easy. The only catch… you need to have a gmail account. Simply click on this link – <a href="#" class="link-info">STAPLETON GOOGLE REVIEW</a></p>
            </div>
        </div>
    </div>
</div>