<div class="py-5 bg-light">
    <div class="row w-75 mx-auto my-4">
        <div class="col">

            {% for review in reviews %}
                <p>{{ review.review }}</p>
            {% endfor %}

            <div class="row w-75 mx-auto">
                <a class="col d-block btn btn-info m-1" href="{{ path('home') }}">Read more review</a>
                <button type="button" class="col d-block btn btn-info m-1" id="addReview">Add Review</button>
            </div>
        </div>

        <div class="col card" style="width: 18rem;">
            <img src="{{ asset('image/carousel.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Please leave us a Google Review</h5>
                <p class="card-text">We have made it super easy. The only catch… you need to have a gmail account. Simply click on this link – <a href="#" class="link-info">STAPLETON GOOGLE REVIEW</a></p>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto my-5">

        <form action="{{ path('add_review') }}" method="post" id="formReview" class="d-none">
            <div class="row py-1">
                <div class="col">
                    <input name="name" type="text" class="form-control" placeholder="Name" aria-label="Name">
                </div>
                <div class="col">
                    <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                </div>
            </div>

            <div class="input-group my-1">
                <textarea name="review" class="form-control" placeholder="Add Review" aria-label="With textarea"></textarea>
            </div>

            <div class="d-grid gap-2 py-1">
                <button class="btn btn-primary" type="submit">Add Review</button>
            </div>
        </form>
    </div>
</div>

<script>
    const addReview = document.getElementById("addReview");
    const formReview = document.getElementById("formReview");

    addReview.addEventListener("click", function () {
        formReview.classList.toggle("d-none")
    })
</script>