<ul>
    <li class="list-unstyled"><a class="text-decoration-none" href="">Electrical upgrades</a></li>
    <li class="list-unstyled"><a class="text-decoration-none" href="">Lighting</a></li>
    <li class="list-unstyled"><a class="text-decoration-none" href="">EV Charging</a></li>
    <li class="list-unstyled"><a class="text-decoration-none" href="">Emergency Preparedness</a></li>
    <li class="list-unstyled"><a class="text-decoration-none" href="">Safety and Repairs</a></li>
    <li class="list-unstyled"><a class="text-decoration-none" href="">General</a></li>
</ul>

<img class="w-75 rounded" src="{{ asset('image/BBB-logoA-1024x499.png') }}" alt="">